html, body, figure, figcaption, ul, li, h1, div, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  background-image: url("../img/living_room.jpg");
  background-repeat: no-repeat;
  width: 859px;
  height: 574px;
  z-index: -2;
}

.bodyHide {
  width: 859px;
  height: 574px;
  display: grid;
}

.bodyHide::after {
  width: 859px;
  height: 574px;
  content: "";
  background: black;
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.button {
  width 50px;
  border: 1px solid #b74545;
  border-radius: 4px;
  font-size: 20px;
  font-family: sans-serif;
  color: #b74545;
  padding: 10px;
  background: #39c9d3;
  justify-self: center;
  align-self: end;
  margin-bottom: 30px;
  box-sizing: border-box;

}

.button:hover {
  background: #43edf9;
  color: #f70404;
  border: 2px solid #f70404;
  padding: 9px;
  box-sizing: border-box;
}


.scoreDiv {
  border: 1px solid #2d9ea8;
  border-radius: 4px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  background: #43edf9;
  justify-self: center;
  align-self: center;
}

.introDiv {
  font-size: 15px;
  line-height: 22px;
  padding: 20px;
}
.scorePar {
  padding: 10px 20px;
}

.replayButtonDiv {
  display: grid;
  justify-self: center;
  align-self: start;
}

.center {
  align-self: start;
}
