html, body, figure, figcaption, ul, li, h1, div, p {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

body {
  background-position: center;
  background-image: url("../img/living_room.png");
  background-repeat: no-repeat;
  z-index: -2;
}

canvas {
  justify-self: center;
  align-self: center;
}

.body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/clouds.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: -5;
  display: grid;
  justify-items: center;
  align-items: center;
}
.bodyHide {
  width: 1200px;
  height: 766px;
  background-position: center;
  background-image: url("../img/living_room.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 10;
  display: grid;
  justify-items: center;
  align-items: center;
}


/* .bodyHide::after {
  width: 900px;
  height: 548px;
  content: "";
  background: black;
  opacity: 0.5;
  background-position: center;
  z-index: -1;
} */

.button {
  box-sizing: border-box;
  border: 1px solid #47A644;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  z-index: 10;
  color: #faf5e5;
  background: #47A644;
  justify-self: center;
  align-self: end;
}

.button:hover {
  background: #47A644;
  /* color: #d05559; */
  border: 2px solid #d05559;
  padding: 9px;
  box-sizing: border-box;
}

.scoreDiv {
  border: 1px solid #47A644;
  border-radius: 4px;
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px;
  background: #47A644;
  justify-self: center;
  align-self: center;
  color: #faf5e5;
}

.introDiv {
  font-size: 15px;
  line-height: 22px;
  padding: 20px;
}

.scorePar {
  padding: 10px 20px;
}

.replayButtonDiv {
  display: grid;
  justify-self: center;
  align-self: start;
}

.center {
  align-self: start;
}
